@import "home";
@import "other";

*{
  color: #666;
}


.red{ color: red; }
.blue{ color: blue; }
.green{ color: green; }
.black{ color: #000; }


// easy integration with the automated mixin
.my_custom_icon {
  @include iconfont('home/ic_polygon');
}

// or you can grab just the content as well
.custom_icon{
  font-family: "other";
  &.little_star:before{
    content: iconfont-item('other/ic_star');
    font-style: normal;
  }
}